<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">

    <!--新增订单-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number, tableware_status)
        values
        (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod}, #{payStatus}, #{amount}, #{remark},
         #{phone}, #{address}, #{consignee}, #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <!--订单分页查询-->
    <select id="pageQuery" resultType="com.sky.vo.order.OrderVO">
        select * from orders
        <where>
            <if test="dto.userId != null">
                and user_id = #{dto.userId}
            </if>
            <if test="dto.number != null and dto.number != ''">
                and number like concat('%',#{dto.number},'%')
            </if>
            <if test="dto.phone != null and dto.phone != ''">
                and phone like concat('%',#{dto.phone},'%')
            </if>
            <if test="dto.status != null">
                and status = #{dto.status}
            </if>
            <if test="dto.beginTime != null">
                and order_time &gt;= #{dto.beginTime}
            </if>
            <if test="dto.endTime != null">
                and order_time &lt;= #{dto.endTime}
            </if>
        </where>
        order by order_time desc
    </select>

</mapper>